@font-face{
    font-family: Futura;
    src:url("FHF.ttf") format('truetype');
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: 'Futura';
    background-color: #226182;
    /*    animation: 0s ease 0s 1 normal none running none;*/
}
body a {
    text-decoration: none;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
    #headerList{
        font-size: 0px;
    }
}
header{
    /*    top: 0;*/
    z-index: 9;
    background: white;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    /*    text-shadow: 2px 2px 2px gray;*/
    color: #226182;
    /*        position: relative;*/
    width: 100%;
    box-shadow: 0 0 15px 0 black;
}
header .nav{
    display: flex;
    justify-content: space-between; /* Horizontally space-out items */
    align-items: center; /* Vertically center align items */
    padding: 0px 2rem;
}
header .nav div{
    display:inline-block;
}
#headImg img{
    height: auto; 
    width: auto; 
    max-width: 205px; 
    max-height: 205px;
}
.headerList{
    float: left;
}
.headerList li{
    display: inline-block;
    border: 1px solid white;
    border-radius:  6.25rem;
    cursor: pointer;
    -webkit-transition: border-color 1s ease;
    -moz-transition: border-color 1s ease;
    -o-transition: border-color 1s ease;
    -ms-transition: border-color 1s ease;
    transition: border-color 1s ease;
}
.headerList li a{
    display: block;
    padding: 10px;
    color: #226182;
}
.headerList li:hover{
    border-color: #3d82a6;
}
/*
.underline li a::after {
content: '';
width: 0px;
height: 1px;
display: block;
background: #226182;
transition: 300ms;
}

.underline li a:hover::after {
width: 95%;
}
*/
.aLogin{
    /*            border: 1px solid #3d82a6;*/
    /*    border-radius:  6.25rem;*/
    /*    padding-right: 25px;*/
    /*    margin: 10px 15px;*/
    /*    float: right;*/
    flex: 1;
    text-align: right;

}
.hlc{
    margin-right: 25px;
    /*    border: 0px solid #3d82a6;*/
    /*    transition: border-width 0.6s linear;*/
    /*    margin-bottom: 15px;*/
    /*    border: 1px red solid;*/

}
.hlc a{
    color: black;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;

}
.hlc img{
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    text-decoration: none;
}
#iL{
    color: #226182;
    height: auto; 
    width: auto; 
    max-width: 25px; 
    max-height: 25px;
}
.hlc:hover{
    /*    border: 1px solid #3d82a6;*/
    /*    box-shadow: 1px 1px 1px 2px #3d82a6;*/
    border-radius:  6.25rem;
    /*    padding: 10px;*/
}
.hlc a:visited{
    color: #226182;
}
.btnCad{
    background-color: #3d82a6; 
    border: none;
    color: white;
    font-size: inherit;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 6.25rem;
    position: relative;
    float:right;
    margin-left: auto;
    cursor: pointer;
    -webkit-transition: background-color 1s ease;
    -moz-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    -ms-transition: background-color 1s ease;
    transition: background-color 1s ease;
}
.btnCad:hover{
    background-color: hsl(201, 40%, 50%);
}

/*----------------------------- Modal Begin -----------------------------*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    color: #226182;
    background-color: white;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #226182;
    width: 40%; /* Could be more or less, depending on screen size */
    border-radius: 0.25rem;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 1.75em;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/*----------------------------- Modal End -----------------------------*/
/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    /*  padding-top: 200px;*/
}

/* -------------------------------------------------- MAIN -------------------------------------------------- */
.main{
}
.content{
    /*    position: relative;*/
    width: 100%;
    display: block;
    height: 40vw;
    background-color: white;
}
#C1{
    background-image: linear-gradient(0deg, white, #226182);
    background-size: auto;
    background-repeat: no-repeat;
    padding: 2% 5%;
    overflow: hidden;
}
#C1 h1{
    color:white;
    text-align: center;
    font-size: 2.25em;
    margin: 2vw 15vw;
}
#C1 p{
    text-align: center;
    color:white;
    font-family: 'Nunito', sans-serif;
}
#C1 .lead{
    padding: 2rem 25%;
    font-size: 1.25em;
}
#C1 img{
    color: white;
    max-height: 50%;
    max-width: 50%;
    display: block;
    overflow: auto;
    padding: 2rem 25%;
}
.row{
    overflow: auto;
}
#C2 .c22-3{
    width: 45%;
    float: right;
    margin: 0;
    max-height: 40rem;
}
#C2 .c22-3 img{
    color: white;
    max-height: 100%;
    max-width: 100%;
    display: block;
}
#C2 .c21-3{
    float: left;
    width:40%;
    margin: 1vw 3vw;
}
#C2 .c21-3 h1{
    color: #226182;
    font-size: 3.5vw;
}
#C2 .c21-3 p{
    font-family: 'Poppins', sans-serif;
    margin: 2vw 0;
}
#C2 .c21-3 p{
    text-align: justify;
    color: black;
    font-size: 1.7vw;
    line-height: 2.5vw;
}
.c1-3{
    height: 100%;
    float: left;
    width:30%;
}
.c2-3{
    height: 100%;
    float: left;
    width: 50%;
}
#C3{
    background-color: #226182;
    background-image: linear-gradient(190deg, white 30%, transparent 70%), linear-gradient(335deg, white 15%, transparent 90%);
    height: 45vw;
}
#C3 a{
    font-size: 1.6vw;
    color:#226182;
    -webkit-transition: color 0.7s ease;
    -moz-transition: color 0.7s ease;
    -o-transition: color 0.7s ease;
    -ms-transition: color 0.7s ease;
    transition: color 0.7s ease;
}
#C3 a:hover{
    color:hsl(201, 40%, 50%); 
}
#C3 h1{
    margin-top: 0;
    color: #226182;
    font-size: 3.5vw;
}
#C3 .c1-3{
    float:right;
    margin:0 3% 0 0;
}
#C3 .c2-3{
    float:left;
    margin:5% 0% 0% 2%;
    width: 50%;
}
#C3 .c2-3 img{
    width: auto;
    height: 40vw;
}
#C3 p{
    font-size: 2vw;
}
#C3 li{
    color: black;
    font-size: 1.5vw;
    font-family: 'Poppins', sans-serif;
}
#C3 ul{
    margin: 1em 0;
}
#C4{
    background-color: white;
    background-image: linear-gradient(355deg, #d2d2d2 20%, transparent 80%);
}
#C4 .c41-3{
    float: left;
    width: 50%;
    margin: 5% 5% 5% 0;
}
#C4 .c41-3 img{
    width: auto;
    height: auto;
    max-width: 100%; 
    max-height: 100%;
}
#C4 .c42-3{
    /*    border: 1px red solid;*/
    border: 0px;
    width: 40%;
    float: left;
    padding-right: 5%;
    line-height: 2.8vw;
}
#C4 li{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5vw;
    line-height: 2vw;
}
#C4 .c42-3 h1{
    color: #226182;
    font-size: 3.5vw;
}
#C4 .c42-3 p{
    font-size: 2vw;
}
#C4 a{
    color:#226182;
    -webkit-transition: color 0.7s ease;
    -moz-transition: color 0.7s ease;
    -o-transition: color 0.7s ease;
    -ms-transition: color 0.7s ease;
    transition: color 0.7s ease;
    font-size: 1.7vw;
}
#C4 a:hover{
    color:hsl(201, 40%, 50%); 
}
#C4 li{
    color: black;
}
#C5{
    background-color: white;
}
#C5 h1{
    font-size: 3.5vw;
    color:#226182;
}
#C5 p{
    font-size: 2vw;
}
#C5 li{
    font-size: 1.5vw;
    line-height: 2vw;
    font-family: 'Poppins', sans-serif;
}
#C5 .c1-3{
    width:35%;
    margin: 4%;
}
#C5 .c2-3{
    float: right;
    width: 50%;
    margin: 5% 0 5% 5%;
}
#C5 img{
    width: auto;
    height: auto;
    max-width: 95%; 
    max-height: 95%;
}
#C6{
    background-color: hsl(201, 40%, 50%);
    padding-top: 5%;
    background-image: linear-gradient(355deg, white 20%, transparent 80%);
}
.cm{
    width:50%;
    margin: 0 25%;
    text-align: center;
}
#FAQ{
    /*    background-image: linear-gradient(355deg, #d2d2d2 40%, transparent 80%);*/
    background-color: #d2d2d2;
    padding-top: 5%;
    background-image: linear-gradient(355deg, white 20%, transparent 80%);
    height: 40vw;
}
#FAQ h1{
    color: #226182; 
}
#FAQ p{
    text-align: center
}
#FAQ .title{
    text-align: center;
}
#FAQ #p1,#p2{
    display: inline-block;
}
#FAQ #p1{
    font-size: 3vw;
    margin: 0 1vw;
    color: #226182;
}
#FAQ #p2{
    font-size: 2.7vw;
}
#FAQ .c1-3{
    float: none;
    margin: 1% 5%;
    width: 80%;
}
#FAQ li{
    color: black;
}
@media screen and (max-width: 600px) {
    #CPC{
        padding-top: 17vw;
        text-align: center;
        height:20vw;
        background-color: white;
    }
}
#CPC{
    text-align: center;
    height:20vw;
    background-color: white;
}
#CPC a{
    display: inline-block;
    background-color: hsl(201, 40%, 50%);
    margin: 2em 1em;
    padding: 1em 1.5em;
    color: white;
    border-radius: 1.5em;
    text-decoration: none;
    font-size: 2.5vw;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}
#CPC a:hover{
    background-color: #226182;
}
.svgel{ 
    height: 1.1rem;
    width: 1.1rem;
    max-height: 1.1rem;
    max-width: 1.1rem;
}


/* -------------------------------------------------- FOOTER -------------------------------------------------- */
@media screen and (max-width: 600px) {
    .f1-4 img{
        max-width: 25px; 
        max-height: 25px;
    }
    .L p{

    }
}
footer{
    /*    position: relative;*/
    width: 100%;
    background: #226182;
    color: white;
    font-size: 1.25rem;
    display: inline-block;
    text-align: center;
}
footer ul{
    list-style: none;
}
footer a{
    color: white;
}
#iconsSocial{
    font-size: 1.45rem;
}
footer label{
    cursor: pointer;
    display: block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
footer a,label{
    -webkit-transition: color 0.4s ease;
    -moz-transition: color 0.4s ease;
    -o-transition: color 0.4s ease;
    -ms-transition: color 0.4s ease;
    transition: color 0.4s ease;
}
footer a:visited{
    color:white;
}
footer a:hover{
    color: hsl(201, 40%, 50%);
}
footer label:hover{
    color: hsl(201, 40%, 50%);
}
.f1-4{
    display: block;
    float: left;
    width: 24%;
    height: 12rem;
}
.f2-4{
    display: block;
    float: left;
    width: 50%;
    height: 12rem;
}
.L img{
    padding:0.5em;
}
.L p{
    display: table-cell;
    vertical-align: middle;
    padding: 10px 0;
    position: relative;
    transform: translateY(50%);
}
.f1-4 span{
    border-radius: 75%;
    display: inline-block;
}
.f1-4 img{
    height: auto; 
    width: auto; 
    max-width: 55px; 
    max-height: 55px;
    padding-right: 5px;
}
.vC{
    border: transparent 1px solid; /* do not remove, helps center vertically */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.vC ul li{
    line-height: 35px;
}
.sL a{
    padding: 5px;
}
/* ----------------------- Accordion ----------------------- */
.accordionWrapper{
    width: 50%;
    /*    background-color: #c2e0ef;*/
    margin: auto; 
    padding: 1vw;
    /*    border: 1px solid #aed5ea;*/
    border-radius: 0.65rem;
    box-sizing:border-box;
}
.accordionItem{
    float:left;
    display:block;
    width:100%;
    /*    box-sizing: border-box;*/
}
.accordionItemHeading{
    cursor:pointer;
    margin:0px 0px 5px 0px;
    padding:0.5rem;
    background:#2980b9;
    color:#fff;
    width:100%;
    -webkit-border-radius: 0.65rem;
    -moz-border-radius: 0.65rem;
    border-radius: 0.65rem;
    box-sizing: border-box;
    font-size: 1.6vw;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease;
}
.accordionItemHeading:hover{
    background:hsl(201, 40%, 50%);
}
.close .accordionItemContent{
    height:0px;
    transition:height 1s ease-out;
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    float:left;
    display:block;
}
.open .accordionItemContent{
    padding-bottom: 60px;
    padding: 10px;
    background-color: transparent;
    font-size: 1.5vw;
    margin: 0px 0px 15px 0px;
    display:block;
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: top;
    -o-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;

    -webkit-transition: -webkit-transform 0.6s ease-out;
    -o-transition: -o-transform 0.6s ease;
    -ms-transition: -ms-transform 0.6s ease;
    transition: transform 0.6s ease;
    box-sizing: border-box;
}

.open .accordionItemHeading{
    margin:0;
    -webkit-border-top-left-radius: 0.65rem;
    -webkit-border-top-right-radius: 0.65rem;
    -moz-border-radius-topleft: 0.65rem;
    -moz-border-radius-topright: 0.65rem;
    border-top-left-radius: 0.65rem;
    border-top-right-radius: 0.65rem;
    -webkit-border-bottom-right-radius: 0.65rem;
    -webkit-border-bottom-left-radius: 0.65rem;
    -moz-border-radius-bottomright: 0.65rem;
    -moz-border-radius-bottomleft: 0.65rem;
    border-bottom-right-radius: 0.65rem;
    border-bottom-left-radius: 0.65rem;
    background-color: #c2e0ef;
    color: #226182;
}
/* ---------------------------------------------- */

