body {
   font-family: "Futura"; 
}

.container-main {
    text-align: center;
    margin-top:15rem;
}

.title-planos {
    font-size: 7rem;
    color: var(--color-blue);
}

/**********Grid**********/
.container-grid {
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 13rem;
}

.column {
    border: 5px solid var(--color-blue);
    border-radius: 8px;
}


.column-title {
    display: flex;
    justify-content:center;
    align-items: center;
    height: 20%;
    background: var(--color-white);
    border-bottom: 1px solid #000;
    padding: 2rem;
}

.column-title h2 {
    font-size: 2.4rem;
    color: #0a4779;
}

.column-content {
    border-bottom: 1px solid #000;
    font-size: 2.1rem;
    background: var(--color-blue);
    color: #fff;
    text-align: left;
    min-height:350px
}
.comercio,.clinica {
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: center;
}

.column-content p {
    padding: 1.5rem;
    font-weight: 500;
}

.column-button {  
    min-height: 200px;
    padding: 3rem;
    border-radius: 8px;
}

.column a {
    display: flex;
    justify-content:center;
    align-items: start;
    padding:2rem 3rem;
    border-radius: 30px;
    background: linear-gradient(to right,var(--color-blue),rgb(31, 118, 189));
    color: #a0c5df;
    font-size: 2rem;
    transition: 0.6s ease-in-out;
}

.column a:hover {
    background: linear-gradient(to right,rgb(15, 81, 136),#0a4779);
}

@media (max-width: 768px) {
    .container-grid {
        display: block;
    }

    .column {
        margin-bottom: 8rem;
    }
}




